.footer {
    p {
        margin-bottom: 0;
    }
    margin-top: 2rem;
    .gray-footer-box {
        margin-bottom: 1rem;
        @media(min-width: 640px) {
            display: flex;
        }
        .gray-footer-box-left, .gray-footer-box-right {
            padding: 1rem 2rem;
            p, a {
                font-size: 11px;
                color: #838383;
            }
            a {
                text-decoration: underline;
                &:hover {
                    color: $green;
                }
            }
        }
        .gray-footer-box-left {
        background-color: rgb(243,243,243);
        }
        .gray-footer-box-right {
            background-color: rgb(235,235,235);
        }
    }
    .menu-footer-box {
        margin-bottom: 1rem;
        display: flex;
        @media(min-width: 640px) {
            padding: 0 2rem;
        }
    flex-wrap: wrap;
    div {
        padding-right: 20px;
        a {
            color: #707070;
            font-size: 11px;
            &:hover {
                color: $green;
            }
        }
    }
    }
    .footer-last {
        margin-bottom: 10px;
        padding: 0 2rem;
        p,a {
            font-size: 11px;
            color: #373737;
        }
        a {
            text-decoration: underline;
           &:hover {
                color: $green;
            }
            font-weight: 500;
        }

    }
}



