
header#site-header.header-gray {
	background-color: #F7F7F7;
}


header#site-header {
	position:relative;
	.listki {
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		z-index: -1;
		opacity: 0.6;
		img {
			width: 300px;

		}
	}
	padding: 0 0;
	padding-bottom: 30px;

	@media(min-width: 980px) {
		padding: 20px 0;
		padding-bottom: 50px;

	}

	position: relative;
	background: transparent;

	.fixed-nav & {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		transition: .3s ease-out;
		z-index: 100;
	}

	.fixed-nav.scrolled & {
		background: #fff;
	}

	.header-wrap {
		@media(min-width: 980px) {
			margin-left: 2rem;
			margin-right: 2rem;
		}
		min-height: $header-height;
		padding-top: .5rem;
		padding-bottom: .5rem;

		.fixed-nav & {
			transition: 0.3s ease-out;
		}

		.fixed-nav.scrolled & {
			min-height: $header-height-scrolled;
		}

	}

	.logo-wrap img, .lang-box a {
		transition: .3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
	.logo-wrap {
		display: flex;
		align-items: flex-end;
		img {
			width: 150px;
			@media(min-width: 980px) {
				width: 249px;
			}
		}
	}
	.lang-box {
		img {
			width: 40px;
		}
		@media(min-width: 1200px) {
			margin-left: 60px;
			img {

				width: auto;
			}
		}
	}
}