




.menu-wrap {
	display: flex;
	flex-direction: column;
	position: fixed;
	height: 100vh;
	top: 0;
	right: 0;
	width: 85% !important;
	max-width: 300px;
	background: $green;
	padding: 0;
	font-size: rem-calc(12px);
	z-index: 100;
	transform: translateX(100%);
	transition: transform .4s;
	@include breakpoint($menu-breakpoint up){ 
		overflow-y: visible;
		position: static;
		height: auto !important;
		width: auto !important;
		max-width: none;
		background: none;
		transform: none;
		display: block;
	}
	.admin-bar & {
		top: 46px;
		height: calc(100vh - 46px);
		@include breakpoint(783px){
			height: calc(100vh - 32px);
			top: 32px;
		}
	}

	&.active {
		transform: translateX(0);
	}

}

.menu.main-menu {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	@include breakpoint($menu-breakpoint up){
		flex-direction: row;
	}
	li {
		display: block;
		position: relative;
		@include breakpoint($menu-breakpoint up){
			& + li {
				margin-left: 53px;
			}
		}
		a {
			color: $white;
			padding: .7rem 1rem;
			text-transform: uppercase;
			font-weight: bold;
			display: block;
			@include breakpoint($menu-breakpoint up){
				display: inline-block;
				color: #3c3c3c;
				padding: 0;
			}
		}
		&.current-menu-item > a,
		&.current-menu-parent > a,
		a:hover {
			color: $white;
			opacity: .8;
			@include breakpoint($menu-breakpoint up){
				opacity: 1;
				color: #99ca41;
			}
		}
		a:active {
			@include breakpoint($menu-breakpoint up){
				opacity: 1;
				color: #99ca41;
			}
		}
		
		.arrow {
			width: 15px;
			height: 15px;
			position: absolute;
			top: 0;
			right: 1rem;
			cursor: pointer;
			background-size: contain;
			background: url('../../assets/img/down-arrow.svg') no-repeat center;
			opacity: .6;
			@include breakpoint($menu-breakpoint up){
				display: none;
			}
		}
		
		.sub-menu {
			margin: 0;
			display: none;
			opacity: 1; 
			@include breakpoint($menu-breakpoint up){
				background: $white;
				position: absolute;
				top: 100%;
				left: -1rem;
				min-width: 100%;
				white-space: nowrap;
				display: none;
			}
			@include breakpoint(medium down){
				opacity: 1 !important;
			}
			li {
				padding: 0;
				@include breakpoint($menu-breakpoint up){
					display: block;
					border: none;
					margin-left: 0 !important;
				}
				a {
					padding-left: 2rem;
					line-height: 1;
					@include breakpoint($menu-breakpoint up){
						padding: .7rem 1rem;
						display: block;
					}
				}
			}
		}	
				
	}
}	

#hamburger {
	margin: 1.9rem 0 1.5rem -2.5rem;
	width: 1.5rem;
	height: 1rem;
	position: relative;
	transform: translateX(-100%);
	z-index: 5;
	transition: all .4s, background .2s;
	display: block;
	color: $green;
	span {
		transition: all .4s, background .2s;
		color: $green;
	}
	&:hover {
		color: #587080;
		span {
			color: #587080;
		}
	}
	&:before, &:after, span {
		content: '';
		display: block;
		width: 100%;
		height: 2px;
		background: currentColor;
		transform-origin: 50% 50%;
	}
	&:before {
		position: absolute;
		top: 0;
	}
	span {
		position: absolute;
		top: 50%;
		margin-top: -1px;
	}
	&:after {
		position: absolute;
		bottom: 0;
	}
	@include breakpoint($menu-breakpoint up){
		display: none;
	}
	
	.active & {
		transform: translateX(0);
		margin: 1.9rem 0 1.5rem 1rem;
		color: $white !important;
		span {
			opacity: 0;
		}
		&:before, &:after {
			position: absolute;
			top: calc(50% - 1px);
			width: 1.5rem;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	.menu {
		overflow-y: auto;
		@include breakpoint($menu-breakpoint up){
			overflow: visible;
		}
	}	
}

.left-menu-item-mobile {
	@include breakpoint(large) {
		display: none !important;
	}
}