@import '../general/typography';
@import '../modules/foundation-settings';

///////////////////////gray-section

.see-more {
    font-size: 12px;
    color: #676767;
    text-decoration: underline;
    &:hover {
        color: $green;
    }
}

.gray-section-box {
    background: #587080;
    margin-bottom: 1rem;
    @include breakpoint(medium) {
        padding: 0 2rem;

    }
    .green-box {
        background-image: url("../assets/img/green.jpg");
        // background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("../assets/img/green.jpg");

        position: relative;
        max-width: 282px;
        min-height: 237px;
        padding: 0.5rem;
        @media(min-width: 400px) {
            padding: 1.5rem;

        }
        // background-size: contain;
        p {
            color: #fff;
            margin-bottom: 0;
        }
        .a-box {
            display: flex;
            align-items: flex-end;
            img {
                transition: .3s ease-in-out;
                &:hover {
                    opacity: 0.7;
                }
            }
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            justify-content: center;
        }
    }
    .logo-baner {
        background-image: url("../assets/img/loga_baner.jpg");
        min-height: 237px;
        min-width: 87px;
        background-position: right;
        @media(min-width: 350px) {
            background-size: contain;

        }
    }
}


///////////////menu-left

.left-menu-box {
    display: none;
    @include breakpoint(large) {
        display: flex;

    }
    .menu-left {
        list-style: none;
        margin-left: 0;
        @include breakpoint(medium) {
            margin-left: 2rem;

        }
        margin-top: 1rem;
        li {
            a {
                display: flex;
                text-decoration: none;
                &::before {
                    content: ">>\00a0\00a0";
                    color: rgba(61, 61, 61, 0.250);
                    transition: .3s ease-in-out;
                }

            }
            padding-bottom: 2px;
            margin-bottom: 7px;
            border-bottom: 1px solid rgba(61, 61, 61, 0.1);
            &:hover, &:active {
                .submenu {
               
                    li {
                        a {
                            color: #3c3c3c;
                            text-decoration: none;
                        }
                    }
                }
                a {
                    &::before {
                        color: $green;
                    }
                    color: $green;

                }
            }
            a {
                color: #3c3c3c;
                font-size: 12px;

            }
            text-transform: uppercase;
            .submenu {
                padding-top: 10px;
                display: none;
                list-style: none;
                li {
                    border-bottom: none;
                    padding-left: 20px;
                    a {
                        &::before {
                            content: "";
                        }
                        &:hover, &:active {
                            color: $green;
                        }
                    }
                }
            }
        }
    }
}


///////////////////kontakt-gray



.kontakt-gray-box {
    display: flex;
    justify-content: center; 
    @include breakpoint(large) {
        display: block;
    }
    .kontakt-gray {
        background: #587080;
        padding: 2rem;
        p, a {
            color: #fff;
        }
        p {
            margin-bottom: 0;
        }
        a {
            text-decoration: underline;
            &:hover {
                color: $green;
            }
        }
        .big-title {
            color: rgba(255, 255, 255, 0.418);
        }
        max-width: calc(282px + 2rem);
    }

}

.kontakt-gray-box-big {
    display: none;
    @include breakpoint(large) {
        display: block;
    }
}

.kontakt-gray-box-small {
 
    background: #587080;
    margin-top: 3rem;
    display: flex;
    @include breakpoint(large) {
        display: none;
    }
}


///////////////////news

.news-item {
    min-height: 170px;
    p {
        line-height: 1.4;
        margin-bottom: 0;
    }
    img {
        float: left;
        padding-right: 1rem;
        width: 180px;
        @include breakpoint(large) {
            width: 190px;
        }
    }
    padding-top: 1rem;
    &:first-child {
        padding-top: 0;
    }
    @include breakpoint(medium) {
        max-width: 600px;

    }
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(61,61,61,0.2);
    .news-item-title {
        color: #373737;
        font-size: 12px;
        font-weight: bold;
    }
    .see-more-box {
        display: flex;
        justify-content: flex-end;
        .see-more {
            margin-top: 10px;
     
        }

    }
}


//////////////////single-news


.single-news {
    .see-more-box {
        display: none;
    }
    .news-item {
        min-height: 0;
        border-bottom: none;
    }

    p {
        line-height: 1.4;
    }
    .gallery {
        .image-1 {
            background-image: url("../assets/img/Zerzeń\ wrzesień\ 2019\ 001.jpg");
            height: 177px !important;
        }
        margin-bottom: 1rem;
    }
}

////////////////////kontakt


.map-box {
    background-image: url("../assets/img/mapa-rzut.png");
    height: 240px;
    margin-bottom: 2rem;
}

.kontakt-box {
    @include breakpoint(medium) {
        padding: 0 2rem;
    }
    .big-title {
        font-size: 20px;
        text-transform: none;
    }

        .cell-left {
            padding-right: 10px;
        }
    .kontakt-form-box {
    p {
        line-height: 15px;
    }
        max-width: 428px;
    
        [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
            height: 31px;
            max-width: 218px;
            font-size: 12px;
        }
        textarea {
            max-width: 307px;
            height: 109px;
        }
        .wpcf7-acceptance {
            label {
                transition: .3s ease-in-out;
                &:hover {
                    cursor: pointer;
                    opacity: 0.7;
                }
                display: flex;
                span {
                    line-height: 15px;
                }
                input {
                    margin-top: 1px;
                    &:hover {
                        cursor: pointer;
                    }  
                }
             
            }
        }
        // input[type=checkbox]:checked {
        //     background-color: $green;
        // }
    }
}



////////////////////////////////ftp

.ftp-img-box {
    img {
        max-width: 252px;
    }
}

.certyfikats-img-box {
    img {
        width: 177px;
        box-shadow: 0px 3px 20px rgba(155, 155, 155, 0.161);
        transition: .3s ease-in-out;
        &:hover {
            opacity: 0.7;
        }
    }
    a {
        display: block;
   
        &:first-child {
            padding-right: 20px;
        }
    }
}

////////////////////certyfikaty i referencje

.certyfikaty-img-box {
    margin-bottom: 1.5rem;
    img {
        max-width: 400px;
    }
}

.grid-x-certyfikaty {
    margin-top: 1.5rem;
    @include breakpoint(large) {
        max-width: 90%;
    }
    img {
        box-shadow: 0px 3px 20px rgba(155, 155, 155, 0.161);
        transition: .3s ease-in-out;
        // max-width: 175px;
        &:hover {
            opacity: 0.7;
        }
    }
}

.referencje-p {
    p {
        font-style: italic;
        color: #999999;
    }
}

/////////////////gray-section-with-slider

.gray-section-with-slider {
    .gray-section-box {
        background-color: transparent;

    }
    .left-gray, .right-gray {
        background-color: #587080;
        width: 2rem;
        height: 237px;
        @media(max-width: 639px) {
            display: none;
        }
    }
    .gray-box {
        justify-content: space-between;
        @media(max-width: 800px) {
            flex-wrap: wrap;

        }
    }
    .green-box {
        @media(max-width: 383px) {
            max-width: none;
        }
    }
    .middle {
        @media(max-width: 800px) {
            order: 10;

        }
        flex: 1;
        @media(min-width: 384px) {
            min-width: 300px;

        }
    }
}


/////////////////main-box

.main-box {
    @include breakpoint(medium) {
        padding: 0 2rem;

    }
}