@import '../modules/foundation-settings';

$blue: #3F5BA5;
$brown: #8E6B55;
$beige-table: rgba(63, 91, 166, 0.12);
$light-beige-table: rgba(63, 91, 166, 0.07);
$grey: #404D5A;
$green: #99ca41;



* {
  font-family: Arial, Helvetica, sans-serif;
}

// @mixin grid-padding-x($property) {
//     @media(min-width: 1024px) {
//         margin-left: -$property;
//         margin-right: -$property;
//         > .cell {
//         padding-left: $property;
//         padding-right: $property;
//         }

//     }
//   }

// .small-img-height {
//     @media(max-width: 639px) {
//         height: 250px;
//         margin-bottom: 2rem;
//     }
// }

h1,h2,h3,h4,h5,h6 {
    font-family: Arial, Helvetica, sans-serif;
}



.big-title {
    font-size: 22px;
    margin-bottom: 1rem;
    color: rgba(63, 63, 63, 0.795);
    font-weight: 500;
    text-transform: capitalize;
//     @media screen and (min-width: 640px) {
//         font-size: 35px;
//      }
    em {
        font-style: normal;
        color: #3F5BA5
    }
}

.small-title {
    font-size: 12px;
    color: #3c3c3c;
    font-weight: bold;
    margin-bottom: 1rem;
}

#breadcrumbs {
    margin-bottom: 5px;
    font-size: 11px;
    color: #818181;
    a {
        text-decoration: underline;
        color: #818181;
        &:hover {
           color: $green;
        }
    }
}

.myButton {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    // @media screen and (min-width: 980px){
    //     font-size: 13px;
    // }
    // @media screen and (min-width: 1360px){
    //     font-size: 15px;
    // }
    padding: 13px 33px;
    // border-radius: 100px;
    transition: .3s ease-in-out;
    // margin-bottom: 0;
    &:hover {
        cursor: pointer;
    }
}

.form-button {
    @extend .myButton;
    color: #fff;
    background: transparent;
    border: none;
    font-weight: 400;
}

.owl-button {
    @extend .myButton;
    left: 50%;
    transform: translate(-50%);
    bottom: 10%;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    font-weight: 600;
    font-size: 13px;
    padding: 11px 33px;
    &:hover {
        background: #fff;
        color: #1D2B52;
    }
}


.green-button {
    @extend .myButton;
    background-color: #99ca41 !important;
    color: #fff;
    border: 1px solid #99ca41;
    &:hover {
       background-color: transparent !important;
       color: #99ca41 !important;
    }
}

.white-button {
    @extend .myButton;
    background-color:transparent;
    color: #fff;
    border: 1px solid #fff;
    &:hover {
       background-color: #fff;
       color: $blue;
    }
}

p, ol>li, ul>li, span {
    font-size: 12px;
    line-height: 1.4;
    color: #3c3c3c;
    // @include breakpoint(large) {
    //     font-size: 18px;

    // }

    em {
      text-transform: uppercase;
      font-style: normal;
    }
}

a {
    transition: .3s ease-in-out;
    color: inherit;
    text-decoration: underline;
    &:hover {
        color: $green;
    }
}