<div class="left-menu-box">
    <ul class="menu-left">
        <li><a href="#">AKTUALNOŚCI</a></li>
        <li><a href="#">STRUKTURA FIRMY</a></li>
        <li><a href="#">CERTYFIKATY I REFERENCJE</a>
            <ul class="submenu">
                <li><a href="">certyfikaty</a></li>
                <li><a href="">referencje</a></li>
            </ul>

        </li>
        <li><a href="#">system odzysku opakowań</a></li>
        <li><a href="#">baterie</a>
            <ul class="submenu">
                <li><a href="">regulacje prawne</a></li>
            </ul>
        </li>
        <li><a href="#">akty prawne</a></li>
        <li><a href="#">program fpn</a></li>
        <li><a href="#">słowniczek</a></li>
        <li><a href="#">aplikacja internetowa</a></li>
        <li><a href="#">komunikaty dla akcjonariuszy</a></li>
    </ul>
</div>
<div class="kontakt-gray-box kontakt-gray-box-big">
    <div class="kontakt-gray">
        <h2 class="big-title">kontakt</h2>
        <p><em>AURAEKO BATERPAK</em> <br>
            Organizacja Odzysku Opakowań S.A. <br>
            02-697 Warszawa, <br>
            ul. Wincentego Rzymowskiego 30</p>
        <div class="tel-box flex">
            <div>
                <p>tel. </p>
            </div>
            <div>
                <p> <a href="">+48 (22) 313 01 58</a></p>
                <p> <a href=""> +48 (22) 313 01 63</a></p>

            </div>
        </div>

        <p><a href=""> info@auraeko.pl</a></p>
    </div>
</div>
