<div class="grid-container">
    <div class="gray-section-box">

        <div class="grid-x">
            <div class="cell small-9 medium-5">
                <div class="green-box">
                    <p>Misją AURAEKO BATERPAK Organizacja Odzysku Opakowań S.A.
                        jest stałe dążenie do zmniejszenia negatywnego wpływu, jaki mają zużyte opakowania oraz zużyte
                        baterie i akumulatory na człowieka
                        i środowisko.</p>
                    <div class="a-box">
                        <div>
                            <a href=""> <img src="assets/img/logo_auraeko.png" alt=""></a>
                            <a href=""> <img src="assets/img/logo_maya.png" alt=""></a>

                        </div>

                    </div>

                </div>
            </div>
            <div class="cell small-3 medium-2 medium-offset-5">
                <div class="logo-baner">
                </div>
            </div>
        </div>
    </div>
</div>