<div class="grid-container">
    <div class="grid-x header-wrap align-justify align-bottom">
        <div class="listki position-absolute">
            <img src="assets/img/listki.gif" alt="">
        </div>
        <div class="cell logo-wrap shrink">
            <a href="<?php echo esc_url( home_url( '/' ) ); ?>">
                <a href=""><img src="assets/img/logo.png" alt=""></a>
            </a>

            <div class="lang-box ">
                <a href=""><img src="assets/img/pl.png" alt=""></a>
                <a href=""><img src="assets/img/en.png" alt=""></a>
            </div>
        </div>

        <div class="cell menu-wrap shrink">
            <a id="hamburger" href="#"><span></span></a>

            <ul class="menu main-menu">
                <li><a href="#">O Organizacji</a></li>
                <li><a href="#">nasza oferta</a></li>
                <li><a href="#">strefa klienta</a></li>
                <li><a href="#">kontakt</a></li>
                <li class="left-menu-item-mobile"><a href="#">AKTUALNOŚCI</a></li>
                <li class="left-menu-item-mobile"><a href="#">STRUKTURA FIRMY</a></li>
                <li class=" left-menu-item-mobile menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a
                        href="#">CERTYFIKATY I REFERENCJE</a>
                    <ul class="sub-menu" style="display: none;">
                        <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">certyfikaty</a>
                        </li>
                        <li class="menu-item menu-item-type-post_type menu-item-object-page "><a href="#">referencje</a>
                        </li>

                    </ul>
                    <div class="arrow"></div>
                </li>
                <li class="left-menu-item-mobile"><a href="#">system odzysku opakowań</a></li>
                <li class="left-menu-item-mobile menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a
                    href="#">baterie</a>
                <ul class="sub-menu" style="display: none;">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="#">regulacje prawne</a>
                    </li>

                </ul>
                <div class="arrow"></div>
            </li>
                <li class="left-menu-item-mobile"><a href="#">akty prawne</a></li>
                <li class="left-menu-item-mobile"><a href="#">program fpn</a></li>
                <li class="left-menu-item-mobile"><a href="#">słowniczek</a></li>
                <li class="left-menu-item-mobile"><a href="#">aplikacja internetowa</a></li>
                <li class="left-menu-item-mobile"><a href="#">komunikaty dla akcjonariuszy</a></li>
            </ul>

        </div>

    </div>
</div>